.cart-item{
margin-bottom: 15px;
width: 100%;
height: 80px;
display: flex;
    .image{
width: 30%;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 70%;
        padding: 10px 20px;
        .name {

        }

        .price {

        }
    }
}